Package: wpagui-dbgsym
Source: wpa
Version: 2:2.9.0-21
Auto-Built-Package: debug-symbols
Architecture: armhf
Maintainer: Debian wpasupplicant Maintainers <wpa@packages.debian.org>
Installed-Size: 1871
Depends: wpagui (= 2:2.9.0-21)
Section: debug
Priority: optional
Description: debug symbols for wpagui
Build-Ids: 89193877de902a893822d7c96593954d7474afd8
